<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    body {
      background-color: #396542;
    }

    .centered {
      text-align: center;
    }
    .image {
        background-size: 5px 5px;
    }
    .image {
        background-size: 150px 125px;
    }

  </style>

  <title>Meal Mates</title>
</head>
<body>
  <div class="centered">

  </div>
  <div class="centered">
    <img src="https://files.slack.com/files-pri/T0351JZQ0-F13KAJWBS/burgerloungemanagementllc.png" class="image">
  </div>
  <div class="centered">
    <h2>
      Adult
    </h2>
  </div>
  <div class="container">
    <div class="row">
        <div class="col1 col-md-4 ">
          <img src="https://files.slack.com/files-pri/T0351JZQ0-F13K8E612/hero-2014-03.jpg" class="image">
        </div>
        <p>
          <div class="col2 col-md-4">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ultricies nibh.</h2>
          </div>
        </p>
      <input class="box col-xs-1">
    </div>
    <div class="row">
        <div class="col1 col-md-4">
          <img src="https://files.slack.com/files-pri/T0351JZQ0-F13KAQVF0/salad560.jpg" class="image2">
        </div>
        <p>
          <div class="col2 col-md-4">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ultricies nibh.</h2>
          </div>
        </p>
      <input class="box col-xs-1">
    </div>
    <div class="centered">
      <h2>
        Child
      </h2>
    </div>
    <div class="row">
        <div class="col1 col-md-4">
          image
        </div>
        <p>
          <div class="col2 col-md-4">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ultricies nibh.</h2>
          </div>
        </p>
      <input class="box col-xs-1">
    </div>


  </div>

</body>
</html>

