<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    body {
      background-color: red;
    }
  </style>

  <title>Meal Mates</title>
</head>
<body>
  <div class="container">
    <h1><%= message[0]%></h1>
    <h1><%= message[1]%></h1>
    <h1><%= message[2]%></h1>
    <h1><%= message[3]%></h1>




  </div>

</body>
</html>
